/* You can add global styles to this file, and also import other style files */
/* BEGIN global styles */
body {
    font-family: 'Calibre', sans-serif;
    font-size: 11.25px;
    line-height: 13.25px;
    letter-spacing: .02em;
    color: #2e2e2e;
}	