/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* BEGIN global styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 11.25px;
    line-height: 13.25px;
    letter-spacing: .02em;
    color: #2e2e2e;
	padding: 40px;
}	
/* Below from style guide */
.action {
    background-color: #14e06e;
}
a {
    color: #1a87cc;
}
.companyOwned {
    background-color: #ff9c00;
}
.text2 {
    color: #999;
}
.error {
    color: #eb1717;
}
.success {
    background-color: #12aa16;
}
/* END style Guide */